<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Super Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSuperAdmin" aria-controls="navbarSuperAdmin" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSuperAdmin">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class="login-container">
  <h2 class="login-title">Login</h2>
  <form (ngSubmit)="login()" class="login-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <div class="password-container">
        <input 
          [type]="passwordType" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          class="form-control" 
          required
        >
        <label class="show-password-label">
          <input 
            type="checkbox" 
            [(ngModel)]="passwordVisible"
            (change)="togglePasswordVisibility()"
          > Show
        </label>
      </div>
    </div>
    <div class="form-group checkbox-group">
      <label>
        <input type="checkbox" [(ngModel)]="stayConnected" name="stayConnected"> Stay Connected
      </label>
    </div>
    <button type="submit" class="login-button">Login</button>
    <a class="nav-link" href="/forget">Verify email or change password</a>


  </form>

  <!-- Display error message if login fails -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
