<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">User </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarUserProfile" aria-controls="navbarUserProfile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarUserProfile">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="backToHomePage()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profileuser',userData.id]">Profile</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-5">
    <div *ngIf="userData; else loading">
      <div class="card shadow-lg border-light rounded-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <!-- Photo Section -->
              <div *ngIf="userData.photo" class="profile-photo-container mb-4">
                <img [src]="'data:image/png;base64,' + userData.photo" alt="User Photo" class="img-fluid profile-photo">
              </div>
            </div>
            <div class="col-md-8">
              <!-- Credentials Section -->
              <h4 class="font-weight-bold text-secondary mb-3">Credentials</h4>
              <div class="mb-4">
                <p class="card-text"><strong class="text-dark">Name:</strong> {{ userData.nom }} {{ userData.prenom }}</p>
                <p class="card-text"><strong class="text-dark">Email:</strong> {{ userData.email }}</p>
                <p class="card-text"><strong class="text-dark">Date of Birth:</strong> {{ userData.dateDeNaissance | date:'fullDate' }}</p>
                <p class="card-text"><strong class="text-dark">Phone Number:</strong> {{ userData.numeroTelephone }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <button class="btn btn-primary btn-lg px-4" (click)="navigateToUpdateProfile()">Update Profile</button>
              </div>
              <div class="mt-4 text-right">
                <button class="btn btn-danger btn-lg px-4" (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #loading>
      <div class="alert alert-info text-center" role="alert">
        <i class="fas fa-spinner fa-spin"></i> Loading profile information...
      </div>
    </ng-template>
  </div>
  