<div class="admin-list-container">
  <!-- Container for the search bar and delete button -->
  <div class="top-controls mb-4 d-flex align-items-center justify-content-between">
    <!-- Search bar with autocomplete -->
    <mat-form-field class="search-bar flex-grow-1 me-3" appearance="outline">
      <input
        type="text"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        placeholder="Search by name"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let admin of (filteredOptions$ | async)" [value]="admin.nom + ' ' + admin.prenom">
          {{ admin.nom }} {{ admin.prenom }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!-- Button to delete all admins -->
    <button (click)="deleteAllAdmins()" class="btn btn-danger btn-danger-small">
      <i class="fas fa-trash-alt"></i> Delete All Admins
    </button>
  </div>

  <!-- Cards to display admins -->
  <div class="card-table">
    <ng-container *ngIf="(filteredOptions$ | async)?.length; else noAdminsFound">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let admin of (filteredOptions$ | async)">
          <div class="card">
            <img
              [src]="admin.photo ? 'data:image/png;base64,' + admin.photo : ''"
              alt="Admin Photo"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">{{ admin.nom }} {{ admin.prenom }}</h5>
              <p class="card-text">
                <strong>Email:</strong><br> {{ admin.email }}<br />
                <strong>Phone:</strong><br> {{ admin.numeroTelephone }}
              </p>
              <p class="card-text">
                <strong>Role:</strong> {{ admin.role?.name || 'Unknown' }}<br />
                <strong>Description:</strong> {{ admin.role?.description || 'No description' }}
              </p>
            </div>
            <div class="card-footer d-flex justify-content-between">
              <button (click)="deleteAdmin(admin.id)" class="btn btn-danger btn-sm btn-small">
                <i class="fas fa-trash-alt"></i> Delete
              </button>
              <a [routerLink]="['/updateadmin', admin.id]" class="btn btn-info btn-sm btn-small">
                <i class="fas fa-edit"></i> Update
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noAdminsFound>
      <div class="alert alert-warning" role="alert">
        No admins found.
      </div>
    </ng-template>
  </div>
</div>
